.up_wrapper{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.block_two{
  display: flex;
  flex-direction:column;
  margin-bottom:100px;
  width: 300px;
}

.block_one{
  display: flex;
  flex-direction:column;
  margin-bottom:100px;
  width: 300px;
}

.form_new_articul{
  display: flex;
  justify-content: space-around;
  margin-bottom:30px;
}

.print_button{
  width:70%;
  display: flex;
  flex-direction:row;
}

.print_button div{
  margin-right:50px;
}

.btn-articul{
  align-self: center;
}

.error_message{
  color: red;
}

.document_for_print{
  margin-top:100px;

  p{
    span{
      font-weight:700;
    }
  }

  .good_table{

    h2{
      text-align: center;
    }
  }

}

@media print  {
  .form_new_articul{
    display: none;

  }

  .print_button{
    display: none;
  }
  .del_col{
    display: none;
  }

  .id_col{
    display: none;
  }
}