div (class='document_for_print container')
    p Грузополучатель: span #{contagent}
    p Поставщик: span #{ourcompany}
    p Дата: span #{data}
    p Номер накладной: span #{id_document}

    div (class='good_table container')
        h2 Товарная накладная
        table (class='table')
            thead
             tr
                th Артикул
                th Количество
                th Ед.измер
                th Цена
                th Цена c НДС
                th Страна
             tbody
                each val in #{ar_products}
                    th= val